<% provide(:title, "Log in") %>
<% if logged_in? %>
<% @user ||= current_user %>
<html>
    <head>
      <title> 飲み会 </title>

    </head>

    <body>
      <div class="center jumbotron">
        <h1>リク飲み for ITF</h1>
        <nav>
          <% if false %>
        <ul class="nav navbar-nav navbar-right">
             <li><%= link_to "イベント一覧",events_path%></li>
             <li><%= link_to "ユーザ一覧",users_path%></li>
        </ul>
        <% end %>
	</nav>

      </div>
		
      <div class="btn-group" role="group"> 
        <%= form_tag(root_path, method: "get") do %>
        <%= label_tag :course, "絞り込み" %>
        <%= select_tag :course, options_for_select(Event.courses), include_blank: true %>
        <%= submit_tag "検索" %>
        <% end %>
      </div>

	<div class="panel panel-success">
	  
	  <div class="panel-heading">
	    <h5 class="panel-title">イベント一覧</h5>
	  </div>
	  
	  <div class="panel-body">
            <table class="table-bordered">
	      <tbody>
              <% @events.each do |event| %>
              <tr>
		<td>
                  <h1><%= link_to event.name,event_path(event.id)%> <%= event.course %>
                  <% if @user.following?(event) %>参加中<% end %></h1> 
		</td>
		<td>
                  <h1><%= link_to event.name,event_path(event.id)%> <%= event.course %>
                    <% if @user.following?(event) %>参加中<% end %></h1> 
		</td>
              </tr>
              <% end %>
            </table>
	  </div>
	  
	</div>
	
    </body>
</html>
<% else %>
  <html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>統一認証システム (Unified Authentication System)</title>
  </head>
  <body>

        <h2>リク飲み　統一認証システム (Unified Authentication System)</h2>

        <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <%= form_for(:session, url: login_path) do |f| %>
          
          <%= f.label :student_id, "Stundet id" %>
          <%= f.number_field :student_id, class: 'form-control' %>

          <%= f.label :password %>
          <%= f.password_field :password, class: 'form-control' %>

          <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>

    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
  </div>
</div>
  </body>
</head>

<% end %>
