<% provide(:title, "Log in") %>
<% if logged_in? %>
<% @user ||= current_user %>
<html>
  <head>
    <title> 飲み会 </title>

  </head>

  <body>
    <div class="center jumbotron">
      <h1>リク飲み for ITF</h1>
      <nav>
        <% if false %>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "イベント一覧",events_path%></li>
          <li><%= link_to "ユーザ一覧",users_path%></li>
        </ul>
        <% end %>
      </nav>

    </div>

    <div class="text-right">
    <div class="btn-group" role="group"> 
      <%= form_tag(root_path, method: "get") do %>
      <%= label_tag :course, "絞り込み" %>
      <%= select_tag :course, options_for_select(Event.courses), include_blank: true %>
      <%= submit_tag "検索" %>
      <% end %>
    </div>
    </div>

    <div class="panel panel-success">
      
      <div class="panel-heading">
	<h5 class="panel-title">イベント一覧</h5>
      </div>
      
      <div class="panel-body">
	
        <table class="table-bordered">
	  
	  <tbody>
	    
	      <div class="row">
		<% @events.each do |event| %>
		
                <font size="5"><div class="col-sm-6">
		    <div class="box8"><%= link_to event.name,event_path(event.id)%></font>
		<% if (event.course == "理系") %>
		<br><span class="label label-danger"><%= event.course %></span></br>
		<% else %>
		<br><span class="label label-info"><%= event.course %></span></br><% end %>
		<%= event.month %>月<%= event.day %>日
                <% if @user.following?(event) %><br><span class="label label-success">参加中</span></br>
		<% else %><br></br><% end %>
		</div>
		</div>
	      
	      
	      <% end %>
	      
	    </div>
	  </tbody>
        </table>
      </div>
      
    </div>
    
  </body>
</html>
<% else %>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>統一認証システム (Unified Authentication System)</title>
  </head>
  <body>
<img src="https://idp.account.tsukuba.ac.jp/idp/images/ia-logo.gif" />
<h2>リク飲み　</h2>
<h2>統一認証システム (Unified Authentication System)</h2>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>
    <br>
      <%= f.label :student_id, "Stundet id" %>
      <%= f.number_field :student_id %>
      <td>
      (<a target="_blank" href="http://www.cc.tsukuba.ac.jp/wp/service/account/#utid-13">UTID-13</a> 
      or <a target="_blank" href="http://www.cc.tsukuba.ac.jp/wp/service/account/#utid-name">UTID-NAME</a>)</td>
    </br>
    <br>
      <%= f.label :password %>
      <%= f.password_field :password %>
    </br> 
      <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>
    </div>
    <div class="col-md-6 ">
    <div class="text-left">

    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
    <br>
    
      <ul>
      <li align = "left">このページをブックマークしないでください．</li>
        <li style="list-style-type: none">
          (Please do not bookmark this page.)
        </li>
        <li style="list-style-type: none">
          <span style="font-size: x-small">
            このページに移行する前の，システムごとのURLをブックマークするようにしてください．
          </span>
        </li>
        <li style="list-style-type: none">
          <span style="font-size: x-small">
          (Please bookmark system-specific URL before jumping to this page.)
          </span>
        </li>
      </ul>
    </div>
    </div>
</div>

  </body>
</head>

<% end %>
