<% provide(:title, "Log in") %>
<img src="https://idp.account.tsukuba.ac.jp/idp/images/ia-logo.gif" />
<h2>リク飲み　</h2>
<h2>統一認証システム (Unified Authentication System)</h2>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>
    <br>
      <%= f.label :student_id, "Stundet id" %>
      <%= f.number_field :student_id %>
      <td>
      (<a target="_blank" href="http://www.cc.tsukuba.ac.jp/wp/service/account/#utid-13">UTID-13</a> 
      or <a target="_blank" href="http://www.cc.tsukuba.ac.jp/wp/service/account/#utid-name">UTID-NAME</a>)</td>
    </br>
    <br>
      <%= f.label :password %>
      <%= f.password_field :password %>
    </br> 
      <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>
    </div>
    <div class="col-md-6 ">
    <div class="text-left">

    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
    <br>
    
      <ul>
      <li align = "left">このページをブックマークしないでください．</li>
        <li style="list-style-type: none">
          (Please do not bookmark this page.)
        </li>
        <li style="list-style-type: none">
          <span style="font-size: x-small">
            このページに移行する前の，システムごとのURLをブックマークするようにしてください．
          </span>
        </li>
        <li style="list-style-type: none">
          <span style="font-size: x-small">
          (Please bookmark system-specific URL before jumping to this page.)
          </span>
        </li>
      </ul>
    </div>
    </div>
</div>
