
<div class="row">
  <div class="col-md-6 col-md-offset-3">

<%= form_for(user) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.text_field :password %>
  </div>

  <div class="field">
    <%= f.label :course %>
    <%= f.text_field :course %>
  </div>
  
  <div class="field">
    <%= f.label :student_id, "Student id" %>
    <!--<p>STUDENT ID</p>-->
    <%= f.number_field :student_id %>
  </div>


  <div class="field">
    <%= f.label :student %>
    <%= f.check_box :student %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


  </div>
</div>