<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p><strong>Password:</strong>
  <%= @user.password %>
</p>

<p>
  <strong>Cource:</strong>
  <%= @user.cource %>
</p>

<p>
  <strong>Student ID:</strong>
  <%= @user.student_id %>
</p>

<p>
  <strong>Student:</strong>
  <%= @user.student %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
