<p id="notice"><%= notice %></p>


<div class="namea"><%= @user.name %></div>
<div class="nameb">さんのユーザー情報</div>

<table border="1" class="mytable">
  <tr>
  <th scope="row"><strong>Email:</strong></th>
  <td><%= @user.email %></td>
  </tr>

  <tr>
   <th scope="row"><strong>Course:</strong></th>
   <td><%= @user.course %></td>
  </tr>

  <tr>
    <th scope="row"><strong>学籍番号:</strong></th>
    <td><%= @user.student_id %></td>
  </tr>

  <tr>
    <th scope="row"><strong>区分:</strong></th>
    <% if  @user.student %>
    <td>学生</td>
    <% else %>
    <td>卒業生</td>
    <% end %>
  </tr>  
</table>

<%= link_to 'Edit', edit_user_path(@user) %> |
     <%= link_to 'Back', users_path %>
<br></br>
     <%= image_tag("beer.jpg") %>
