
<html>
    <head>
        <title> イベント詳細 </title>
    </head>
    
    <body>
      <h1><%= @event.name %></h1>

      <table class="table table-bordered">
	<tbody>
	  <tr>
            <th>場所</th>
	    <th><%= @event.place %></th>
	  </tr>
	  <tr>
            <th>日付</th>
	    <th><%= @event.month %>月<%= @event.day %>日</th>
	  </tr>
	  <tr>
	      <th>分類</th>
	      <th><%= @event.course %></th>
	      </tr>
	</tbody>
    </table>
    
    <p><%= link_to "参加者一覧", edit_event_path(@event) %></p>
      
    <div class="col-md-8">  
        <%= render 'follow_form'%>
    </div>
    </body>
</html>
