
<html>
    <head>
        <title> イベント詳細 </title>
    </head>
    
    <body>
      <h1><%= @event.name %></h1>

      <table class="table table-bordered">
	<tbody>
	  <tr>
            <th bgcolor="#90ee90">場所</th>
	    <th><%= @event.place %></th>
	  </tr>
	  <tr>
            <th bgcolor="#90ee90">日付</th>
            <th><%= @event.begin_time.month%>月<%= @event.begin_time.day %>日</th>
	  </tr>
	  <tr>
	      <th bgcolor="#90ee90">時間</th>
	      <th><%= @event.begin_time.to_s(:time) %>〜<%= @event.end_time.to_s(:time) %></th>
	      </tr>
	  <tr>
	      <th bgcolor="#90ee90">分類</th>
	      <th><%= @event.course %></th>
	      </tr>
	   <tr>
	      <th bgcolor="#90ee90">受付状況</th>
	      <th>
	          <% if @event.begin_time > Time.now  %>
	              受付中
	          <% else %>
	              終了
	          <% end %>
	      </th>
	      </tr>
	    <tr>
	      <th bgcolor="#90ee90">料金</th>
	      <th><%= @event.fee %>円
	      </th>
	    </tr>
	    <tr height="200">
	      <th bgcolor="#90ee90">説明</th>
	      <th><%= @event.explain %>
	      </th>
	    </tr>
	      
	</tbody>
    </table>
    
    <p><%= link_to "参加者一覧", edit_event_path(@event) %></p>
      
    <div class="col-md-8">  
        <%= render 'follow_form'%>
    </div>
    </body>
</html>
